# ==========================
# Archivos específicos de Embarcadero / Delphi
# ==========================
# Archivos locales del proyecto
*.dproj.local
*.identcache
*.stat
*.dsk
*.local

# Archivos compilados
Win32/Debug/
*.dcu
*.dcp
*.bpl
*.bpi
*.dres
*.rsm
*.tds
*.exe
*.dll
*.pdb
*.map
*.bak
*~*

# Carpetas generadas automáticamente
/__history/
/__recovery/
Win32/Debug/
Win32/Release/
Win64/Debug/
Win64/Release/

# ==========================
# Archivos comunes de sistema
# ==========================
.DS_Store
Thumbs.db
desktop.ini
