# Otros archivos temporales y de trabajo de Visual Studio
Service.dproj.local

# Carpetas de binarios y objetos generados
Win32/Debug/
*.dcu
Service.exe

# Otros archivos temporales y de trabajo de Visual Studio
/__history